	
<section class="form-login">
	<div class="container">
		<div class="row">
					<h1>Please Login</h1>

					<%= form_for :session do |t| %>

					<div>
					<label>Email:</label>
					<%= t.email_field :email %>
					</div>	

					<div>
					<label>Password:</label>
					<%= t.password_field :password %>
					</div>	
					<br>

					<div>
					<%= t.submit "Login!" %>

					<% end %>
				<div>
	</div>	
</section>