<h1>Mentors</h1>
<p><% @mentors.each do |mentor| %>
<%= link_to user_path(mentor.id) do %>
<%= mentor.username %></br>
<% end %>
 <% end %></p>


<h2>Students</h2>
<p><% @students.each do |student| %>
	<%= link_to user_path(student.id) do %>
<%= student.username %></br>
<% end %>
 <% end %></p>
