<h1>New newsfeed</h1>

<h1>
  <%= @newstables.title %>
</h1>

<p>
  <%= @newstables.body %>
</p>

<div>
  <% @newstables.images.each do |image| %>
  <%= image_tag image.url.to_s if image.url.present? %>
  <% end %>
</div>
